@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap');

body {
    margin: 0;
    background-color: #fbfcfd;
}

* {
    box-sizing: border-box;
    color: #000;
    font: 20px/1.2 'Roboto', sans-serif;
}

ul, ol, nav {
    list-style-type: none;
    padding-left: 0;
}

a {
    text-decoration: none;
}

header {
    * {
        color: #fff;
    }

    min-height: 900px;
    background-image: linear-gradient(-27deg, #1acbfd 0%, #345aff 98%), url(../img/background_layer.png);
    background-position-y: -60px;
    background-blend-mode: overlay;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 32px 52px;

    @media screen and (max-width: 825px) {
        padding: 32px 0;
    }

    .top-heading {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;

    }

    @media screen and (max-width: 825px) {
        .top-heading {
            flex-wrap: wrap;
            flex-direction: column;
            align-items: center;
        }

    }

    @media screen and (max-width: 825px) {
        .logo_block {
            margin-bottom: 20px;
        }
    }
    @media screen and (max-width: 370px) {
        .logo_block {
            text-align: center;
        }
    }

    .logo_link {
        padding: 20px 0;
        @media screen and (max-width: 370px) {
            & {
                display: block;
            }
        }

        &::after {
            content: '';
            display: inline-block;
            background-color: #fff;
            opacity: 0.2;
            width: 1px;
            height: 20px;
            margin-left: 14px;
            transform: translateY(3px);
            @media screen and (max-width: 370px) {
                & {
                    display: none;
                }
            }
        }
    }

    nav {
        display: flex;
        align-items: center;

        @media screen and (max-width: 825px) {
            & {
                flex-direction: column;
            }
        }

        a {
            display: inline-block;
            font-size: 15px;
            margin-right: 27px;
            @media screen and (max-width: 825px) {
                & {
                    margin-right: 0;
                    margin-bottom: 10px;
                    font-size: 17px;
                }
            }

            &:nth-child(2) {
                position: relative;
                @media screen and (min-width: 826px) {
                    & {
                        margin-right: 47px;
                    }
                }

                &::after {
                    content: '';
                    display: inline-block;
                    background-color: #fff;
                    opacity: 0.3;
                    width: 1px;
                    height: 30px;
                    position: absolute;
                    top: -4px;
                    right: -25px;
                    @media screen and (max-width: 825px) {
                        & {
                            display: none;
                        }
                    }
                }
            }


            &:last-child {
                margin-right: 0;
            }

            &.sign_up {
                border: 1px solid #fff;
                border-radius: 4px;
                padding: 5px 10px;
            }
        }
    }

    .language_selector {
        background-color: transparent;
        border-color: transparent;
        cursor: pointer;
    }

    option {
        background-color: #3362ff;
        cursor: pointer;
    }

    .desc {
        text-align: center;
        margin-top: 171px;
        @media screen and (max-width: 825px) {
            & {
                margin-top: 71px;
            }
        }

        h1 {
            font-size: 70px;
            font-weight: 500;
            line-height: 1;
            margin: 0 0 15px;
            @media screen and (max-width: 825px) {
                & {
                    font-size: 50px;
                    text-align: center;
                }
            }
        }

        p {
            font-size: 24px;
            margin: 0 0 31px;
        }

        button {
            background-image: linear-gradient(182deg, #00f9ff 0%, #00d0f1 100%);
            box-shadow: 0 8px 14px rgba(0, 107, 206, 0.3);
            padding: 15px 38px 15px 50px;
            border: 0;
            border-radius: 4px;
            cursor: pointer;
            @media screen and (max-width: 370px) {
                & {
                    padding: 15px 5px;
                }
            }
        }
    }
}

main {
    margin: 0 auto;
    width: 72.2%;
}

.benefits {
    transform: translateY(-182px);
    background-color: #fff;
    box-shadow: 0 40px 40px rgba(0, 0, 0, 0.03);
    border-radius: 6px;
    display: flex;
    flex-wrap: wrap;

    @media screen and (max-width: 370px) {
        & {
            transform: none;
            margin-bottom: 50px;
        }
    }

    p {
        color: #1e2945;
        font-size: 15px;
        flex-basis: 55%;
    }

    .box {
        flex-basis: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        min-width: 36.1%;
        min-height: 183px;

        &:nth-child(odd) {
            border-right: 1px solid #f7f7f7;
        }

        &:nth-child(1),
        &:nth-child(2) {
            border-bottom: 1px solid #f7f7f7;
        }

        @media screen and (max-width: 825px) {
            & {
                flex-grow: 1;
                flex-basis: 100%;
            }
        }
        @media screen and (max-width: 370px) {
            & {
                min-height: auto;
            }
        }

        .icon {
            min-width: 48px;
            height: 48px;
            margin-right: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 4px;
        }

        .icon-chess {
            background-image: linear-gradient(-45deg, #ff7676 0%, #f54ea2 100%);
        }

        .icon-rocket {
            background-image: linear-gradient(-49deg, #fce38a 0%, #f38181 100%);
        }

        .icon-arrow {
            background-image: linear-gradient(-45deg, rgba(23, 234, 217, 0.1) 0%, #22d9db 34%, #6078ea 100%);

            img {
                transform: scale(-1, 1);
            }
        }

        .icon-wallet {
            background-image: linear-gradient(135deg, #43e695 0%, #3bb2b8 100%);

            img {
                transform: rotate(-45deg);
            }
        }
    }
}

.tabs {
    .tabs_content {
        margin-top: 200px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        @media screen and (max-width: 825px) {
            & {
                flex-direction: column;
                margin-top: 50px;
            }
        }

        h2 {
            color: #1e2945;
            font-size: 40px;
            font-weight: 400;
            margin: 0 0 11px;
            @media screen and (max-width: 370px) {
                & {
                    font-size: 30px;
                }
            }
        }

        p {
            margin: 0;
            color: #1e2945;
        }

        .image_block {
            margin-left: 10px;
            text-align: center;

            img {
                width: 100%;
                @media screen and (max-width: 825px) {
                    & {
                        width: 50%;
                    }
                }
            }
        }
    }

    .first_tab {
        width: 47.9%;
        @media screen and (max-width: 825px) {
            & {
                width: 100%;
                text-align: center;
                margin-bottom: 20px;
            }
        }
    }

    nav {
        background-color: #fff;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.03);
        border-radius: 4px;
        display: flex;
        justify-content: space-around;

        @media screen and (max-width: 825px) {
            & {
                flex-direction: column;
                align-items: center;

                li {
                    align-self: stretch;
                    text-align: center;
                }
            }
        }

        a {
            display: inline-block;
            text-align: center;
            font-size: 15px;
            padding: 16px 22px;
            @media screen and (max-width: 825px) {
                & {
                    width: 100%;
                    padding: 16px 0;
                }
            }
        }
    }

    .active {
        &::after {
            content: '';
            display: block;
            height: 2px;
            width: 100%;
            background-color: #2e73fe;
        }

        a {
            color: #2e73fe;
        }
    }
}

.partners {
    background-color: #fff;
    padding: 150px;
    margin: 0 70px;
    text-align: center;

    @media screen and (max-width: 825px) {
        padding: 0;
        margin: 0;
    }

    h2 {
        color: #1e2945;
        font-size: 40px;
        font-weight: 400;
        @media screen and (max-width: 825px) {
            text-align: center;
        }
    }

    .images {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .image_block {
        width: 194px;
        height: 75px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

}

.apps {
    background-image: url(../img/background_phones.svg);
    background-repeat: no-repeat;
    background-position-x: -50px;
    min-height: 704px;
    margin-top: 280px;
    display: flex;
    align-items: center;
    justify-content: center;

    @media screen and (max-width: 825px) {
        margin-top: 0;
        flex-direction: column;
        background-position-x: -200px;
    }

    .image_block {
        //width: 70%;
        text-align: center;

        img {
            width: 45%;
        }
    }

    .desc {
        width: 27.8%;

        @media screen and (max-width: 825px) {
            & {
                width: 50%;
            }
        }
        @media screen and (max-width: 370px) {
            & {
                width: auto;
                margin: 0 10px;
            }
        }


        * {
            color: #fff;
        }

        h2 {
            font-size: 40px;
            font-weight: 400;
        }

        p {
            font-size: 18px;
            line-height: 1.44;
        }
    }

    @media screen and (min-width: 826px) {
        .image_block img:first-child {
            transform: translateY(-80px);
        }

        .image_block img:last-child {
            transform: translateY(-220px);
            margin-right: 50px;
        }
    }

}

.about {
    margin-top: 213px;
    margin-left: 79px;
    @media screen and (max-width: 825px) {
        & {
            margin-right: 20px;
            margin-top: 50px;
            margin-left: 20px;
        }
    }

    h2 {
        color: #1e2945;
        font-size: 40px;
        font-weight: 400;
    }

    .content {
        display: flex;

        @media screen and (max-width: 825px) {
            & {
                flex-direction: column;
            }
        }

        p {
            width: 40%;
            margin-right: 55px;
            color: #1e2945;
            font-size: 18px;
            font-weight: 400;
            line-height: 1.44;
            &:last-child {
                margin-right: 0;
            }
            @media screen and (max-width: 825px) {
                & {
                    width: 100%;
                    margin-right: 0;
                }
            }
        }
    }

}

footer {
    background-image: url(../img/footer_background.svg);
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 122px;
    min-height: 334px;
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    padding: 150px 10px 51px 10px;
    @media screen and (max-width: 825px) {
        margin-top: 0;
        flex-direction: column;
        align-items: center;
    }

    .links {
        display: flex;
        justify-content: space-evenly;
        @media screen and (max-width: 825px) {
            margin-bottom: 20px;
        }
        @media screen and (max-width: 520px) {
            flex-direction: column;
        }

        .list {
            margin-right: 80px;
            @media screen and (max-width: 520px) {
                margin-right: 0;
                margin-bottom: 10px;
                text-align: center;
            }

            &:last-child {
                margin-right: 0;
            }
        }

        ul {
            margin: 0;
        }

        h3 {
            margin-top: 0;
            margin-bottom: 4px;
            color: #1e2945;
            font-size: 16px;
            font-weight: 500;
        }

        li a {
            color: #1e2945;
            font-size: 15px;
            font-weight: 400;
        }
    }
}
.stores {
    text-align: center;
    @media screen and (max-width: 825px) {
        margin-bottom: 20px;
    }
}

.soc_media {
    .soc_media_links {
        display: flex;
        margin-bottom: 44px;

        a {
            margin-right: 8px;
        }

        a:last-child {
            margin-right: 0px;
        }

        .soc_icon {
            width: 38px;
            height: 38px;
            border-radius: 6px;
            background-image: linear-gradient(-44deg, #1acbfd 0%, #345aff 100%);
            text-align: center;
            line-height: 38px;
        }
    }
}

.company_logo {
    text-align: center;
}